body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Roboto;
  background: #e9e9e9;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 6px;
}

.login-box h2 {
  margin: 70px 50px 30px;
  font-size: 38px;
  color: #ed2553;
  padding: 0;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ed2553;
  outline: none;
  background-color: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ed2553;
  font-size: 12px;
}

.login-box form a {
  display: inline-block;
  padding: 10px 20px;
  color: #ed2553;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  margin-top: 40px;
  border: 1px solid #ed2553;
  border-radius: 6px;
}

.login-box a:hover {
  background: #ed2553;
  color: #fff;
  border-radius: 5px;
}

/* DESAFIO PARA PROXY, USEI UM ÍCONE DE CORAÇÃO, MAS VOCÊ PODE ANIMAR
UM CORAÇÃO TOTALMENTE DESENHADO COM CSS, TENTE!!! :) */

/* Pulse Heart */

@-webkit-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse.animated {
  -webkit-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
}

/* Assinatura */

.made-by {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
}

.made-by a {
  text-decoration: none;
  font-weight: 600;
  color: #ed2553;
  cursor: pointer;
}



.made-by .heart {
  color: #ed2553;
  font-size: 16px;
}
